h1{
  color: blueviolet;
  font-style:italic;
  font-size: 2em;
  font-family:serif;
  }
h3{
  color: #8B008B;
}
p{
  font-family: arial;
  font-size: 1em;
  color: #9932CC;
}
li{
  color:#9370DB;
}

body {
background-color: #FFF0F5;
}